<header>
{{> btnback}}
{{> btnord}}
  </header>

<div class="container-flex">
<div class="row align-items-center">
{{#each films}}
{{> card  IMG_PATH='http://image.tmdb.org/t/p/w185/'}}
{{/each}}
</div>
</div>
